## Práctica 1 – Tema 1: Primeros pasos en Python
### Instrucciones generales

Esta práctica tiene como propósito reforzar los conceptos vistos en el Tema 1. Deberás realizar los ejercicios paso a paso utilizando el archivo 'SuperMarket Analysis.csv'. El trabajo debe desarrollarse en un Notebook (.ipynb) dentro de VS Code o Jupyter.

---------------------------------------------------------------------------------------------------------------------------------------

### Bloque 1 – Configuración inicial
**Objetivo:** verificar instalación y entorno de trabajo.

1. Crear un nuevo notebook llamado 'Practica_Tema1.ipynb'.
2. Importar las librerías necesarias:

  - import pandas as pd

  - import numpy as np

  - import matplotlib.pyplot as plt

3. Mostrar un mensaje de confirmación de entorno.
4. Imprimir las versiones de las librerías instaladas.

Pregunta: ¿Por qué es importante trabajar dentro de un entorno virtual (venv)?

In [ ]:
# Punto 2
!pip install numpy
!python3 -m pip install numpy

!pip install pandas
!python3 -m pip install pandas

!pip install matplotlib
!python3 -m pip install matplotlib

Requirement already satisfied: numpy in ./practice/lib/python3.10/site-packages (2.2.6)

[notice] A new release of pip available: 22.2.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: numpy in ./practice/lib/python3.10/site-packages (2.2.6)

[notice] A new release of pip available: 22.2.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Collecting pandas
  Using cached pandas-2.3.3-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
Collecting tzdata>=2022.7
  Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: numpy>=1.22.4 in ./practice/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in ./practice/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: six>=1.5 in ./practice/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip available: 22.2.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in ./practice/lib/python3.10/site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./practice/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./practice/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./practice/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in ./practice/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: six>=1.5 in ./practice/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip available: 22.2.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [ ]:
# Punto 3
import numpy as np
import pandas as pd
import matplotlib as plt

In [7]:
# Punto 4
print("numpy version:", np.__version__)
print("pandas version:", pd.__version__)
print("matplotlib version:", plt.__version__)

numpy version: 2.2.6
pandas version: 2.3.3
matplotlib version: 3.10.7

---------------------------------------------------------------------------------------------------------------------------------------

### Bloque 2 – Carga y exploración del dataset
**Objetivo:** importar y conocer la estructura del dataset.

1. Cargar el archivo 'SuperMarket Analysis.csv'.
2. Eliminar espacios en los nombres de columnas.
3. Mostrar:
  - Primeras 5 filas.
  - Dimensiones del dataset (df.shape).
  - Tipos de datos (df.info()).
  - Estadísticas básicas (df.describe()).

In [ ]:
# Punto 1: Cargar el archivo
df_SuperMarketAnalysis_csv = pd.read_csv('./data/SuperMarketAnalysis.csv')

In [ ]:
# Punto 2: Eliminar espacios en los nombres de columnas
df_SuperMarketAnalysis_csv.columns = df_SuperMarketAnalysis_csv.columns.str.replace(' ', '')

In [16]:
# Punto 3: Primeras 5 filas
df_SuperMarketAnalysis_csv.head()

,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax5%,Sales,Date,Time,Payment,cogs,grossmarginpercentage,grossincome,Rating
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3

In [17]:
# Punto 3: Dimensiones del dataset
df_SuperMarketAnalysis_csv.shape

(1000, 17)

In [18]:
# Punto 3: Tipo de datos

df_SuperMarketAnalysis_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   InvoiceID              1000 non-null   object
 1   Branch                 1000 non-null   object
 2   City                   1000 non-null   object
 3   Customertype           1000 non-null   object
 4   Gender                 1000 non-null   object
 5   Productline            1000 non-null   object
 6   Unitprice              1000 non-null   float64
 7   Quantity               1000 non-null   int64
 8   Tax5%                  1000 non-null   float64
 9   Sales                  1000 non-null   float64
 10  Date                   1000 non-null   object
 11  Time                   1000 non-null   object
 12  Payment                1000 non-null   object
 13  cogs                   1000 non-null   float64
 14  grossmarginpercentage  1000 non-null   float64
 15  grossincome            1000 non-null   float64
 16  Rating                 1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [19]:
# Punto 3: Estadísticas

df_SuperMarketAnalysis_csv.describe()

,Unitprice,Quantity,Tax5%,Sales,cogs,grossmarginpercentage,grossincome,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

In [29]:
## Correlacion de datos
df_SuperMarketAnalysis_csv.select_dtypes(include=('int64','float64')).corr()

,Unitprice,Quantity,Tax5%,Sales,cogs,grossmarginpercentage,grossincome,Rating
Unitprice,1.000000,0.010778,0.633962,0.633962,0.633962,NaN,0.633962,-0.008778
Quantity,0.010778,1.000000,0.705510,0.705510,0.705510,NaN,0.705510,-0.015815
Tax5%,0.633962,0.705510,1.000000,1.000000,1.000000,NaN,1.000000,-0.036442
Sales,0.633962,0.705510,1.000000,1.000000,1.000000,NaN,1.000000,-0.036442
cogs,0.633962,0.705510,1.000000,1.000000,1.000000,NaN,1.000000,-0.036442
grossmarginpercentage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
grossincome,0.633962,0.705510,1.000000,1.000000,1.000000,NaN,1.000000,-0.036442
Rating,-0.008778,-0.015815,-0.036442,-0.036442,-0.036442,NaN,-0.036442,1.000000

### Preguntas:

• ¿Cuántas filas y columnas tiene el dataset?

Tiene **1000** filas y **17** columnas

• ¿Qué tipo de información contiene?

Se compone de objetos, numeros enteros (int64) y flotantes (float64)

• ¿Qué variables parecen más relevantes para las ventas?

Usando una matriz de correlación, podemos ver que Quantity, Tax5% y grossincome son los que parecen más relevantes, especialmente los dos últimos mencionados.

---------------------------------------------------------------------------------------------------------------------------------------

### Bloque 3 – Limpieza y manipulación de datos
**Objetivo:** transformar y preparar los datos para el análisis.

1. Eliminar filas duplicadas.
2. Crear una nueva columna llamada 'Net Sales' = 'Sales' - 'Tax 5%'.
3. Calcular:
  - Promedio de ventas.
  - Ventas totales.
4. Filtrar las transacciones donde las ventas sean mayores a 500.
5. Ordenar las ventas por sucursal de forma descendente.

Preguntas:
• ¿Qué porcentaje del total representan las ventas mayores a $500?
• ¿Cuál es el promedio de Rating por tipo de cliente?

---------------------------------------------------------------------------------------------------------------------------------------

In [30]:
# Punto 1: Eliminar filas duplicadas
df_SuperMarketAnalysis_csv.drop_duplicates()

,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax5%,Sales,Date,Time,Payment,cogs,grossmarginpercentage,grossincome,Rating
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,Giza,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,1:46:00 PM,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,Cairo,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,5:16:00 PM,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,Alex,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,1:22:00 PM,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,Alex,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,3:33:00 PM,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,Alex,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,1:28:00 PM,Cash,618.38,4.761905,30.9190,6.6

In [32]:
# Punto 2: Nueva columna 'Net Sales' = 'Sales' - 'Tax 5%'.
df_SuperMarketAnalysis_csv['Net Sales'] = df_SuperMarketAnalysis_csv['Sales'] - df_SuperMarketAnalysis_csv['Tax5%']
df_SuperMarketAnalysis_csv.head()

,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax5%,Sales,Date,Time,Payment,cogs,grossmarginpercentage,grossincome,Rating,Net Sales
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1,522.83
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6,76.40
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4,324.31
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4,465.76
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3,604.17

In [ ]:
# Punto 3: Calcular promedio de ventas
print("Promedio de ventas:", df_SuperMarketAnalysis_csv['Sales'].mean())

Promedio de ventas: 322.966749

In [36]:
# Punto 3: Calcular ventas totales
print("Ventas totales:", df_SuperMarketAnalysis_csv['Sales'].sum())

Ventas totales: 322966.749

In [39]:
# Punto 4: Filtrar las transacciones donde las ventas sean mayores a 500.

df_SuperMarketAnalysis_csv[df_SuperMarketAnalysis_csv['Sales'] > 500]

,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax5%,Sales,Date,Time,Payment,cogs,grossmarginpercentage,grossincome,Rating,Net Sales
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1,522.83
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3,604.17
5,699-14-3026,Giza,Naypyitaw,Member,Female,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,6:30:00 PM,Ewallet,597.73,4.761905,29.8865,4.1,597.73
7,315-22-5665,Giza,Naypyitaw,Member,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38:00 AM,Ewallet,735.60,4.761905,36.7800,8.0,735.60
14,829-34-3910,Alex,Yangon,Member,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,7:21:00 PM,Cash,713.80,4.761905,35.6900,5.7,713.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,267-62-7380,Giza,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.1700,864.5700,3/29/2019,7:12:00 PM,Ewallet,823.40,4.761905,41.1700,4.3,823.40
989,430-53-4718,Cairo,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,3:46:00 PM,Credit card,602.96,4.761905,30.1480,8.4,602.96
991,602-16-6955,Cairo,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,1/24/2019,6:10:00 PM,Ewallet,766.00,4.761905,38.3000,6.0,766.00
996,303-96-2227,Cairo,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,5:16:00 PM,Ewallet,973.80,4.761905,48.6900,4.4,973.80
999,849-09-3807,Alex,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,1:28:00 PM,Cash,618.38,4.761905,30.9190,6.6,618.38

In [46]:
# Punto 5: Ordenar las ventas por sucursal de forma descendente.

df_SuperMarketAnalysis_csv.sort_values(by='Branch', ascending=False)

,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax5%,Sales,Date,Time,Payment,cogs,grossmarginpercentage,grossincome,Rating,Net Sales
868,631-34-1880,Giza,Naypyitaw,Member,Male,Food and beverages,24.31,3,3.6465,76.5765,1/8/2019,7:09:00 PM,Credit card,72.93,4.761905,3.6465,4.3,72.93
276,526-86-8552,Giza,Naypyitaw,Member,Female,Home and lifestyle,21.82,10,10.9100,229.1100,1/7/2019,5:36:00 PM,Cash,218.20,4.761905,10.9100,7.1,218.20
569,408-26-9866,Giza,Naypyitaw,Normal,Female,Sports and travel,73.98,7,25.8930,543.7530,3/2/2019,4:42:00 PM,Ewallet,517.86,4.761905,25.8930,4.1,517.86
287,226-71-3580,Giza,Naypyitaw,Normal,Female,Sports and travel,23.75,9,10.6875,224.4375,1/31/2019,12:02:00 PM,Cash,213.75,4.761905,10.6875,9.5,213.75
286,593-95-4461,Giza,Naypyitaw,Member,Male,Home and lifestyle,74.86,1,3.7430,78.6030,3/24/2019,2:49:00 PM,Cash,74.86,4.761905,3.7430,6.9,74.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,502-05-1910,Alex,Yangon,Normal,Male,Health and beauty,65.18,3,9.7770,205.3170,2/25/2019,8:35:00 PM,Credit card,195.54,4.761905,9.7770,6.3,195.54
474,676-39-6028,Alex,Yangon,Member,Female,Electronic accessories,64.44,5,16.1100,338.3100,3/30/2019,5:04:00 PM,Cash,322.20,4.761905,16.1100,6.6,322.20
472,405-31-3305,Alex,Yangon,Member,Male,Fashion accessories,43.13,10,21.5650,452.8650,2/2/2019,6:31:00 PM,Credit card,431.30,4.761905,21.5650,5.5,431.30
471,340-21-9136,Alex,Yangon,Member,Female,Sports and travel,40.05,4,8.0100,168.2100,1/25/2019,11:40:00 AM,Cash,160.20,4.761905,8.0100,9.7,160.20
999,849-09-3807,Alex,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,1:28:00 PM,Cash,618.38,4.761905,30.9190,6.6,618.38

---------------------------------------------------------------------------------------------------------------------------------------

### Bloque 4 – Agrupación y análisis
**Objetivo:** aplicar operaciones de agrupamiento y resumen.

1. Calcular las ventas totales por sucursal.
2. Calcular el promedio de calificación por método de pago.
3. Determinar el producto más vendido (por cantidad total).
4. Identificar el ingreso bruto promedio por ciudad.

Reto adicional: combinar varios cálculos en una sola instrucción con agg():
df.groupby('Branch').agg(Total_Sales=('Sales', 'sum'), Avg_Rating=('Rating', 'mean'), Avg_Gross=('gross income', 'mean'))

Preguntas:
• ¿Qué sucursal genera mayores ingresos?
• ¿Qué método de pago muestra mejor calificación promedio?

---------------------------------------------------------------------------------------------------------------------------------------

### Bloque 5 – Visualización básica
**Objetivo:** representar los resultados gráficamente con Matplotlib.

1. Crear un gráfico de barras con las ventas totales por sucursal.
2. Crear un histograma con la distribución de calificaciones (Rating).
3. Crear un gráfico circular con la proporción de métodos de pago.
4. Personalizar los gráficos agregando títulos, etiquetas y estilo 'seaborn-v0_8'.

Reto adicional: comparar las ventas promedio por tipo de cliente en un solo gráfico.

Preguntas:
• ¿Qué conclusiones se pueden obtener de los gráficos generados?
• ¿Qué visualización consideras más útil para un reporte gerencial?

---------------------------------------------------------------------------------------------------------------------------------------

### Bloque opcional – Reflexión final
Responde brevemente:

• ¿Qué variables parecen influir más en las ventas totales?

• ¿Qué patrones observas entre sucursal y calificación?

• ¿Qué podría mejorar el supermercado según tus hallazgos?